{
  "endpoint": "ovh-eu",
  "applicationKey": "<your-application-key>",
  "applicationSecretRef": {
      "Name": "ovh-credentials",
      "Key": "applicationSecret"
  },
  "consumerKey": "<your-consumer-key>"
}
